<html>
<body background="img/whitebackground2.jpg">
<h1>Personal</h1>
<hr>
<a id="Portfolio" href="/home">Home</a>
<a id="Activities" href="/Activities">Activities</a>
<a id="Info" href="/Portfolio">Info</a>
<a id="Personal" href="/Personal">Personal</a>
<hr>
<h1></h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
<footer>
        &copy;Alex Wolfenden
        
</footer>
</html>
