
<html>
    <body background="img/whitebackground2.jpg">
    <h1>Information</h1>
    <hr>
    <a id="Portfolio" href="/home">Home</a>
    <a id="Activities" href="/Activities">Activities</a>
    <a id="Info" href="/Portfolio">Info</a>
    <a id="Personal" href="/Personal">Personal</a>
    <hr>
    <P>Hi this is Alex Wolfenden. I'm part of a family of four with my mother coming from Sweden, my father from England, and me and my sister being born in the US.</P>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </body>
    <footer>
            &copy;Alex Wolfenden
            
    </footer>
    </html>